@model IEnumerable<OmerCanberkKandemir.Models.Model.mezhep>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="starwarskarakterolusturmaekrani">
    <h2>Birlikler</h2>

    <p>
        @Html.ActionLink("Birlik Oluştur", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mezhepadi)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Mezhepadi)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.mezhepID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.mezhepID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.mezhepID })
                </td>
            </tr>
        }

    </table>
</div>