@model IEnumerable<OmerCanberkKandemir.Models.Model.silah>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KullandığıSilah)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@item.KullandığıSilah" width="450" height="95" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.silahID }) |
            @Html.ActionLink("Details", "Details", new { id=item.silahID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.silahID })
        </td>
    </tr>
}

</table>
